<!doctype html>
<html>

    <head>
        <title>jspsych + psiturk example - simple go/no-go reaction time test</title>
        <script src="/static/lib/jquery-min.js" type="text/javascript"></script>
        <script src="/static/lib/underscore-min.js" type="text/javascript"></script>
        <script src="/static/lib/backbone-min.js" type="text/javascript"></script>

        <script src="/static/js/jspsych/jspsych.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-html-keyboard-response.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-instructions.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-call-function.js" type="text/javascript"></script>
        <script src="/static/js/jspsych/plugins/jspsych-survey-multi-choice.js" type="text/javascript"></script>
        <script src="/static/js/scene-response.js" type="text/javascript"></script>

        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
        </script>

        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <script src="/static/js/psiturk.js" type="text/javascript"></script>

        <link href="/static/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="/static/css/scene-response.css" rel="stylesheet" type="text/css"></link>
    </head>

    <body>
    </body>
    <script>
        /* load psiturk */
        var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);

        var instructions_block = {
            type: "instructions",
            pages: [
                "Welcome! We are conducting an experiment on how people use English to describe scenes from everyday life. Press any key to begin.",

                "<p>In this experiment, we will show you simple 3D scenes " +
                "along with statements from an imaginary conversational partner.</p>" +
                "<p>We'll ask you to respond to these statements by making a " +
                "multiple-choice answer or by writing an answer in English.</p>" +
                "<p>Speed is not a factor in this experiment. Take your time to " +
                "answer honestly and as accurately as you can, based on your knowledge " +
                "of English.</p>" +
                "<p>Press any key to begin.</p>"
            ]
        };

        $.getJSON("/stimuli", {uniqueId: uniqueId}, function(data){
            setup_experiment(data.stimuli);
        });

        var setup_experiment = function(stimuli) {
            var test_stimuli = $.map(stimuli, function(stim) {
                return {
                    type: "scene-choice",
                    data: stim,
                }
            });

            var all_trials = test_stimuli; //jsPsych.randomization.repeat(test_stimuli, 10, true);

            /* debrief block */

            var debrief_block = {
                type: "html-keyboard-response",
                stimulus: function() {
                    return "<p>You have completed the experiment. Thank you!</p>";
                }
            };


            /* define experiment structure */

            var experiment_blocks = [];

            experiment_blocks.push(instructions_block);

            experiment_blocks = experiment_blocks.concat(all_trials);

            experiment_blocks.push(debrief_block);


            /* start the experiment */

            jsPsych.init({
                timeline: experiment_blocks,
                on_finish: function() {
                    psiturk.saveData({
                        success: function() { psiturk.completeHIT(); }
                    });
                },
                on_data_update: function(data) {
                    psiturk.recordTrialData(data);
                }
            });
        };
    </script>

</html>
